@import "@rosszurowski/vanilla/lib/vanilla.css";

html,
body,
main {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  /* Chrome Mac Lightmode: rgb(255, 255, 255) */
  /* Chrome Mac Darkmode: rgb(50, 54, 57) */
  /* Safari Mac Darkmode: rgb(57, 56, 57)  */
  /* Safari Mac Lightmode: rgb(206, 205, 205) */
  background-color: rgb(50, 54, 57);
  color: white;
  font-family: "Atlas Grotesk", -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

main svg {
  position: relative;
  top: 0.1em;
}

h1 {
  font-size: 2vmax;
  letter-spacing: 0.1px;
}

h1 > span {
  position: relative;
}

.Node {
  position: absolute;
  width: 128px;
  height: 128px;
  border: 0.5px white solid;
  border-radius: 50%;
  animation: pulse 1000ms ease-out both;
}

@keyframes pulse {
  0% {
    opacity: 0.0;
    transform: scale(0.05);
  }
  5% {
    opacity: 1.0;
    transform: scale(0.25);
  }
  100% {
    opacity: 0.0;
    transform: scale(1.0);
  }
}

@media (prefers-color-scheme: light) {
  html {
    background-color: #000;
    color: white;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #000;
    color: white;
  }
}
